<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
<div class="container bg-dark">
    {% include 'include/navbar.html' %}
</div>
<div class="container p-5 bg-light">
    {% bootstrap_messages %}
    <h1 class="text-center pb-5">{{ title }}</h1>
    {% include 'include/pagination.html' %}
    {% block content %} Страница в разработке {% endblock %}
    {% include 'include/pagination.html' %}
</div>
</body>
</html>