{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
{% for recipe in recipe_list %}
<div class="card  mb-5">
    <div class="row">
        <div class="col-4">
            <img src="{{ recipe.image.url }}" class="card-img-top" alt="recipe image">
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="card-text">{{ recipe.description }}</p>
                <a href="{{ recipe.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
</div>
{% empty %}
<p>Рецептов пока нет</p>
{% endfor %}


{% endblock %}